html, body{
    margin:0;
    height:100vh;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
}
table{
    width:80%;
    border-collapse: collapse;
}
 td{
    border-bottom:1px solid black;
}
@media (max-width: 1920px)
{
    h1 {
        font-size: 2.4rem;
    }
    tr {
        font-size: 1rem; /* 100% of the root element's font size */
    }
}
@media (max-width: 1000px)
{
    h1 {
        font-size: 2.4rem;
    }
    tr {
        font-size: 1rem; /* 100% of the root element's font size */
    }
}
@media (max-width: 500px)
{
    h1 {
        font-size: 3.2rem;
    }
}