@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.hide{
    display:none;
}
body{
    background-color: whitesmoke;
    background: linear-gradient(180deg, rgba(255,255,255,1) 12%, rgba(253,171,159,1) 54%, rgba(250,128,114,1) 84%);
}
h1{
    font-family: "Lobster Two", sans-serif;;
    text-align: center;
    border-bottom: 1px solid black;
    color: salmon;
}
h2{
    font-family: "Lobster Two", sans-serif;
    color: salmon;
}
#nav{
    text-align: center;
    border-bottom: 1px solid black;
    color: rgb(253, 108, 92);
}
#footer{
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#main{
    font-family:"Quicksand", sans-serif;
    color: black;
}
.page{
    color: whitesmoke;
    font-size: x-large;
    background-color: salmon;
    border-radius: 10%;
}
img{
    width: 500px;
    height: 300px;
    border-radius: 15%;
}
#coffee{
    height: 350px;
    width: 350px;
}
#books{
    height: 350px;
    width: 350px;
}
#winner{
    height: 350px;
    width: 350px;
}


