@charset "UTF-8";

div{
    color:blueviolet;
}

#bob{
    color:red;
}

.orange{
    color:orange;
}

div b{
    color: blue;
}
input[type="text"]{
    background-color: yellow;
}
a:link, a:visited{
    color: brown;
}

a:hover, a:active{
    color: blue;
}
#bob::after{
    content:"my name is bob"
}
